.left-column {
    padding-left: 12px;
    padding-right: 25px;
}

.right-column {
    padding-left: 28px;
    padding-right: 12px
}

.full-width-bottom-fields {
    padding-left: 12px;
}

.minHeight {
    min-height: 21px;
    padding-bottom: 1px;
}

.insuranceMsg {
    font-size:13px;
    color:gray;
    font-style:italic;
}

.bgColor {
    background-color: white;
}