.titleMainDivStyle {
    margin-left: 10px;
    height: 100%;
}

.searchBoxMainDiv {
    width: 100%;
    display: flex;
}

.resetButton {
    padding-top: 22px;
}

.searchButtonStyle {
    padding-right: 5px;
    padding-top: 22px;
}

.searchBoxStylig {
    padding-right: 5px;
    width: 397px;
    margin-top: 3px;
}

.customTableMainDiv {
    height: 680px;
    overflow-y: auto
}

.borderBottom {
    border-bottom: 1px solid #d0dae0;
}

.borderRight {
    border-right: 1px solid #d0dae0;
}

.titleColumnWidth {
    width: 15%;
}

.contentColumnWidth {
    width: 15%;
}

.whatYouWillLearnColumnWidth {
    width: 42%;
}

.categoryColumnWidth {
    width: 10.5%;
}

.numOfViewsColumnWidth {
    width: 6.5%;
}

.chapterNumColumnWidth {
    width: 3%;
}

.postDateWidth {
    width: 10%;
}

.paddingLeft {
    padding-left: 0.5px;
}