.tableHeight{
    height: 550px;
}

.paddingLeft{
    padding-left: 0.75%;
}

.paddingRight{
    padding-right: 0.75%;
}

.cstm_width {
    width: 47%;
}

.marginLeftButton {
    margin-left: 21px !important;
}