.layout-div{
    width:100%;
}
.article-div{
    display:block; 
    height:fit-content;
}
.header-content{
    float:left; 
    margin-right:12px;
}

.float-content{
    float:left; 
}
.font-properties{
    font-weight: bold
}
.popup-button
{
   padding-right: 5px;
}
.modal-container 
{
    width: 70%; 
    max-width: 840px; 
    min-width: 480px;
}
.modal-content
{
    position: relative;
}
.header-position{
    position: absolute;
}

.modal-popup {
    margin:0px!important; 
    z-index : 1;
}

.notes-label {
    float:right; 
    padding-top:2px;
}

.header-static-posisiton {
    position: relative;
}

.header-icon-position {
    float:left
}