.layout-div{
    width:100%;
}
.article-div{
    display:block; 
    height:fit-content;
}
.header-content{
    float:left; 
    margin-right:12px;
}
.iconBackgroundColor {
    background-color: #5867E8;
}
.float-content{
    float:left; 
}
.font-properties{
    font-weight: bold
}