/** Styling button as URL Start **/
button[name="AttachmentCell"] {
    color: var(--lwc-brandTextLink,rgb(53, 88, 214));
    text-decoration: none;
    transition: color .1s linear;
}

button[name="AttachmentCell"]:hover{
    color: var(--lwc-brandTextLinkActive,#2647bc);
    text-decoration: underline;
}

button[name="AttachmentCell"]:focus{
    color: var(--lwc-brandTextLinkActive,#2647bc);
    text-decoration: underline;
}

/** Styling button as URL End **/

/** Reducing height of button in the datatable**/
.buttonHeight lightning-button {
	--sds-c-button-line-height : 1;
}

[kx-scope=button][kx-type=underline]:hover:after, [kx-scope=button][kx-type=underline]:focus:after {
    transform: scaleX(0) !important;
}