lightning-tabset lightning-tab-bar ul li[data-label="New 13F Filings"] a, lightning-tabset lightning-tab-bar ul li[data-label="New Public Investments"] a{
	font-size: 14px;
	font-weight: bold !important;
	border-bottom: None !important;
}

lightning-tabset lightning-tab-bar ul li[data-label="New Accounts"] a, lightning-tabset lightning-tab-bar ul li[data-label="New Form D Filings"] a{
	font-size: 14px;
	font-weight: bold !important;
	border-bottom: None !important;
}

lightning-tabset lightning-tab-bar ul li[data-label="New Contacts"] a{
	font-size: medium;
	font-weight: bold !important;
	border-bottom: 3px solid #0171D2 !important ;
}

lightning-tabset lightning-tab-bar ul li[data-label="New 13F Filings"]::after{
	content: none !important;
}
lightning-tabset lightning-tab-bar ul li[data-label="New Public Investments"]::after{
	content: none !important;
}
lightning-tabset lightning-tab-bar ul li[data-label="New Accounts"]::after{
	content: none !important;
}
lightning-tabset lightning-tab-bar ul li[data-label="New Contacts"]::after{
	content: none !important;
}
lightning-tabset lightning-tab-bar ul li[data-label="New Form D Filings"]::after{
	content: none !important;
}