.newsRecords{
   margin-top: 5px;

}
.newsRecordbottom{
  margin-top: -12.5px;
}
.iconBackgroundColor{
    background-color: #b070e6;
}
.comment-div
{
   font-size: 1em;
   font-weight: 400;
   font-style: normal;
   word-wrap:break-word; 
   max-width: calc(100% - 48px);
}

.button-style
{
   float:right;
}

.popup-button
{
   padding-right: 5px;
}

.comment-section
{
   padding-top: 7px;
   width: 100%;
   flex-wrap: nowrap !important;  
}

.text-area-div
{
   position: inherit; 
   margin-left: 11px;
   margin-right: 11px; 
   margin-bottom: 10px;
}

.comm-div-display
{
   display: flex;
   padding-bottom: 20px;
}

.title-div
{
   font-size: 1.1em;
}

.footer-div
{
   text-align: center;
   height: 85px;
}

.scrollContainer {
   height: 720px;
   overflow: auto;
   position: relative;
}
.scrollArea {
   position: relative;
}

.approval-notes-style {
   color: #2e844a;
}

.approval-notes-date {
   color: #2e844a;
   font-size:0.88em;
}

.section-space{
   margin-top: 10px;
   
}

.card-height{
   overflow: auto;
   height: 720px;
}
.spinner-height{
   height: 25px;
   position: absolute;
   margin-left: 50%;
   margin-top: 20%;
}
.spinner{
   position: relative;
  
}
.link-color{
   color: #3558D6;
}

.record-css {
   font-size: 14px;
   line-height: 20px;
 }


.searchPosition{
   width: 23%;
   position: absolute;
    top: 0rem;
    right: 3.75rem;
}

.sortIcon{
   margin-right: 1.15rem;
   float: right;
   margin-top: -32px;
}

.parentDiv{
   position: relative;
}


.emptyTableStyling {
   text-align: center;
   color: grey;
 }

 .customPostion {
   top: -3px;
   position: relative;
 }